<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/forms.css">
    <title>Sign Up</title>
</head>
<body>
        <nav class="navbar">
        <div class="navdiv">
            <div class="nav-left">
                <img class="app-logo" src="/assets/images/App-Logo.png" alt="image of a brown dog with a bone">
                <div class="app-name">
                    <span>DOG</span>
                    <span>SPOTTING</span>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="main-content">
        <div class=page-content>
            <h1>SIGN UP</h1>
        <form action="/auth/sign-up" method="POST" class="sign-up">
                <div class="email">
                <label for="email">
                </label>
                <input type="text" name="email" id="email" placeholder="Email" required>
            </div>
            <div class="username">
                <label for="username">
                </label>
                <input type="text" name="username" id="username" placeholder="Username" required>
            </div>
            <div class="password">
                <label for="password">
                </label>
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>
                <div class="confirmPassword">
                <label for="confirmPassword">
                </label>
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Re-Type Password" required>
            </div>
            <div class="button">
                <button>Submit</button>
            </div>
        </form>
      </div>  
        <div class="hero">
            <img class="hero-image" src="/assets/images/Hero-Image.PNG" alt="cartoon of a small white dog smiling">
        </div>
    </div>    
    </main>
</body>
</html>