<nav class="sub-nav">
    <a href="/auth/profile">
        <p>Home</p>
    </a>
    <a href="/dogs/my-dogs">
        <p>My Dog Spots</p>
    </a>
    <a href="/dogs/new">
        <p>Create a spot</p>
    </a>
    <a href="/dogs">
    <p>All Dog Spots</p>
    </a>
</nav>