<div class="on-screen-menu">
    <nav class="sub-nav">
        <a href="/auth/profile">
            <p>Home</p>
        </a>
        <a href="/dogs/my-dogs">
            <p>My Dogs</p>
        </a>
        <a href="/dogs/new">
            <p>New Spot</p>
        </a>
        <a href="/dogs">
            <p>All Dogs</p>
        </a>
    </nav>
</div>

<nav>
    <div class="ham-menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>

<div class="off-screen-menu">
    <nav class="sub-nav">
        <a href="/auth/profile">
            <p>Home</p>
        </a>
        <a href="/dogs/my-dogs">
            <p>My Dogs</p>
        </a>
        <a href="/dogs/new">
            <p>New Spot</p>
        </a>
        <a href="/dogs">
            <p>All Dogs</p>
        </a>
    </nav>
</div>