<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Spotting</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="nav-left">
                <img class="app-logo" src="https://res.cloudinary.com/dhgfzn1ov/image/upload/v1762519160/App-Logo_uauqoo.png" alt="image of a brown dog with a bone">
                <div class="app-name">
                    <span>DOG</span>
                    <span>SPOTTING</span>
                </div>
            </div>
            <div class="nav-right">
                <a href="/auth/sign-up"><button class="btn">Sign Up</button></a>
                <a href="/auth/sign-in"><button class="btn">Sign In</button></a>
            </div>
        </div>
    </nav>
    <main>
        <section class="main-content">
            <div class=page-content>
                <h1>DOG</h1>
                <h1>SPOTTING</h1>
                <p>WELCOME TO DOG SPOTTING.</p>
                <p>SHARE YOUR DAILY DOG SPOTS HERE.</p>
            </div>

            <div class="hero">
                <img class="hero-image" src="https://res.cloudinary.com/dhgfzn1ov/image/upload/v1762519160/Hero-Image_chnahb.png" alt="cartoon of a small white dog smiling">
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-item">
                <h3>ADD</h3>
                <p>add your daily spotted dogs</p>
            </div>
            <div class="footer-item">
                <h3>BROWSE</h3>
                <p>check other spots near you</p>
            </div>
            <div class="footer-item">
                <h3>LIKE</h3>
                <p>like and rate your favourite spots</p>
            </div>
        </div>
    </footer>
</body>

</html>