@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    height: 100%;
    font-size: 100%;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form button {
    background-color: #F8D57E;
    color: black;
    font-size: 1rem;
    border: solid #F8D57E;
    border-radius: 1.25rem;
    cursor: pointer;
    padding: 0.625rem 1.25rem;
    margin-top: 1.25rem;
}

form button:hover {
    background-color: #F8D57E;
    color: black;
    font-size: 1rem;
    border: solid #ebab0b;
    border-radius: 1.25rem;
    cursor: pointer;
    padding: 0.625rem 1.25rem;
    margin-top: 1.25rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    gap: 0.938rem;
    margin: 0 auto;
}

.main-content {
    display: flex;
    max-width: 75rem;
    margin: 0 auto;
    gap: 0;
}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 37.5rem;
}

.page-content h1 {
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 0.188rem;
    margin-bottom: 1.875rem;
    text-align: center;
    white-space: nowrap;
}

.hero-image {
    width: 31.25rem;
    height: auto;
}

form input {
    width: 18.75rem;
    padding: 0.938rem 1.25rem;
    font-size: 1.125rem;
    border: 0.125rem solid grey;
    box-sizing: border-box;
}

form textarea[name="description"] {
    width: 18.75rem;
    padding: 0.938rem 1.25rem;
    font-size: 1rem;
    border: 0.125rem solid grey;
    border-radius: 0.5rem;
    resize: vertical;
    box-sizing: border-box;
    ;
}

form input[type="file"] {
    font-size: 1rem;
    padding: 0.625rem;
    border: 0.125rem solid grey;
    border-radius: 0.5rem;
    cursor: pointer;
}

.new-form-page .page-content {
    padding-right: 3.75rem;
}

#error-message {
    color: darkred;
    font-weight: bolder;
}