@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    height: 100%;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form button {
    background-color: #F8D57E;
    color: black;
    font-size: 16px;
    border: solid #F8D57E;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 20px;
}

form button:hover {
    background-color: #F8D57E;
    color: black;
    font-size: 16px;
    border: solid #ebab0b;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400%;
    gap: 15px;
}

.main-content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 0;
}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 600px;
}

.page-content h1 {
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 30px;
    text-align: center;
    white-space: nowrap;
}

main {
    background: linear-gradient(to right, #EAE3FF 55%, #f7f5ff 45%);
    padding-top: 60px;
    padding-right: 90px;
}


.hero-image {
    width: 500px;
    height: auto;
}

form input {
    width: 300px;
    padding: 15px 20px;
    font-size: 18px;
    border: 2px solid grey;
    box-sizing: border-box;
}

form textarea[name="description"] {
    width: 300px;
    padding: 15px 20px;
    font-size: 16px;
    border: 2px solid grey;
    border-radius: 8px;
    resize: vertical;
    box-sizing: border-box;;
}

form input[type="file"] {
    font-size: 16px;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 8px;
    cursor: pointer;
}

.new-form-page .page-content {
    padding-right: 60px;
}

