@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    height: 100%;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f7f5ff;
    margin: 0;

}

main {
    flex: 1;
}

/* Nav Bar */

.navbar {
    background-color: #FFFFFF;
    padding: 10px 20px;
    position: sticky;
    top: 0; 
    z-index: 1000;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.app-logo {
    height: 80px;
    width: 80px;
    object-fit: contain;
}

.app-name {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
    font-weight: bold;
}

.nav-right {
    display: flex;
    gap: 10px;
}

.btn {
    display: inline-block;
    font-size: 15px;
    padding: 8px 25px;
    margin-right: 20px;
    border-radius: 60px;
    background-color: #F8D57E;
    border: solid #F8D57E;
    text-decoration: none;
    color: black;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
}

.btn:hover {
    display: inline-block;
    font-size: 15px;
    padding: 8px 25px;
    margin-right: 20px;
    border-radius: 60px;
    background-color: #F8D57E;
    border: solid #A88120;
    text-decoration: none;
    color: black;
    text-decoration: none;
    font-weight: 500;
    text-align: center;    
}

/* Footer */

footer {
    background-color: white;
    padding: 40px 20px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 300px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-item h3 {
    margin-bottom: 10px; 
    font-size: 25px; 
    color: black;
}

.footer-item p {
    font-size: 20px;
    color: black;
}

/* Main Content */ 

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto; 
    max-width: 1200px;
    padding: 40px 20px; 
    gap: 20px;
}

.page-content {
    flex: 0 0 65%;
}

.page-content h1 {
    margin-bottom: 10px; 
    line-height: 1.1;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 3px;
}

.page-content p {
    margin-bottom: 10px;
    font-size: 20px;
    color: #2D2D2D;
    opacity: 0.6;
}

.hero {
    flex: 0 0 35%;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.hero-image {
    width: 400px;
    height: 400px;
}

.menu button {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 30px;
    font-size: 20px;
    border: solid #5C33FF;
    border-radius: 8px;
    color: whitesmoke;
    background-color: #5C33FF;
    cursor: pointer;
    padding: 10px;
}

.menu button:hover {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 30px;
    font-size: 20px;
    border: solid #1f1151;
    border-radius: 8px;
    color: whitesmoke;
    background-color: #5C33FF;
    cursor: pointer;   
}

.menu a {
    text-decoration: none;
}

.profile-page .hero-image {
    margin-left: -150px;
}

.sub-nav {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    text-decoration: none;
}

.navbar a {
    text-decoration: none;
    font-weight: 500;
    padding-left: 20px;
    color: black;
}

.navbar a:hover {
    text-decoration: underline;
    color: black;
}